#hero_desktop {
    width:100%;
    height:auto;
}

#first_words {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 70px;
}

#statement1{
    font-size: xx-large;
}

#paragraph1{
    font-size: large;
}

#trial_button{
    color:white;
    background-color: orangered;
    border: none;
    padding: 15px 32px;
}