#hero_desktop {
    width:100%;
    height:auto;
   
}

#first_words {
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 70px;
}

#statement1{
    font-size: xx-large;
}

#paragraph1{
    font-size: large;
}

#trial_button{
    color:white;
    background-color: orangered;
    border: none;
    padding: 15px 32px;
}

#bamboo_desktop {
    width:90%;
    height:auto;
    /* position: absolute; */
    padding-left: 80px;
    /* padding-right: 60px; */
    padding-top: 30px;
    padding-bottom: 30px;
}

#second_words{
    z-index: 1;
    position: absolute;
    text-align: center;
    color:white;
    font-size: large;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#paragraph2{
    color:lightgray;
}

.pad{
    float: left;
    width: 50%;
    padding: 5px;
    
}

*{
    box-sizing: border-box;
}

#pad_pics::after{
    content:"";
    clear: both;
    display: table;
  
}

#third_words{
    z-index: 1;
    position: absolute;
   
    color:black;
    font-size: large;
    top: 145%;
    left: 5%;
    
}

#fourth_words{
    z-index: 1;
    position: absolute;
   
    color:black;
    font-size: large;
    top: 145%;
    left: 55%;
}

.products{
    float: left;
    width: 25%;
    padding: 5px;
    
}


#products_pics::after{
    content:"";
    clear: both;
    display: table;
  
}

#three_bucks{
    font-weight: bold
}

#shop_now{
    color:white;
    background-color: orangered;
    border: none;
    position: absolute;
    left: 50%;
    align-self: center;
    padding: 15px 32px;
}